.root{
  margin: 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282828;
  width: 300px;
  height: 320px;
  border-radius: 20px;
}

.calculator-input{
  display: flex;
  justify-content: center;
  height: 40px;
  margin-top: 5px;
  margin-bottom: 20px;
}

.calculator-input input {
  border: 2px solid #282828;
  border-radius: 8px;
  padding: 15px;
  background-color: #a5e3e6;
}

.buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn{
  width: 60.5px;
  height: 40px;
  margin: 1px;
  border-radius: 15px;
  background-color: #476950;
}

.btn:hover {
  background-color: #08B6CE;
  transition: 0.5s;
}

.digits{
  color: white;
}

.operations{
  background-color: #33d45e;
}

#calculator {
  background-color: #149fff;
}


